<div class="grid-container flex">
  <h1 class="mat-h1">Maze Game</h1>
  <div class="row controls-section">
    <button mat-raised-button color="primary">START</button>
    <button mat-raised-button color="accent">RESET</button>
    <button mat-raised-button color="warn">SHARE</button>

  </div>
  <div class="row game-section">

    <img #enemy class="enemy" src="../../assets/sprites/blastoise.png" alt="blastoise">
    <img #enemy class="enemy" src="../../assets/sprites/charizard.png" alt="charizard">
    <img #enemy class="enemy" src="../../assets/sprites/eternatus.png" alt="eternatus">
    <img #player class="player" src="../../assets/sprites/meowth.gif" alt="player">

    <canvas #game class="game" id="game">

    </canvas>


  </div>


</div>